*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
.navbar{
    background-image: linear-gradient(#29498d, #6bb8e9);
}
.navbar .navbar-brand{
    font-family: 'Roboto', sans-serif;
}
.navbar a{
    color: #fff;
}
.btn{
    background-image: linear-gradient(#29498d, #6bb8e9);
    border: none !important;
    width: 200px;
    box-shadow: none;
    font-size: 20px;
}
.form-control{
    box-shadow: none !important;
}
.nav-tabs .nav-link.active{
    background-image: linear-gradient(#29498d, #6bb8e9);
    color: #fff;
}
.signup-btn{
    width: 100%;
    color: #fff;
    background-image: linear-gradient(#29498d, #6bb8e9);
    box-shadow: none;
    border: none;
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Audiowide', sans-serif;
}
.signup-btn:hover{
    width: 100%;
    color: #fff;
    background-image: linear-gradient(#29498d, #6bb8e9);
    font-size: 21px;
    border-radius: 20px;
    font-family: 'Audiowide', sans-serif;
    transform: translate(X);
    transition: 0.3s ease-in-out;
}