*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
.navbar{
    background-image: linear-gradient(#29498d, #6bb8e9);
}
.navbar .navbar-brand{
    font-family: 'Roboto', sans-serif;
}
.navbar a{
    color: #fff;
}
.btn{
    background-image: linear-gradient(#29498d, #6bb8e9);
    border: none !important;
    width: 200px;
    box-shadow: none;
    font-size: 20px;
}
.form-control{
    box-shadow: none !important;
    width: 400px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: transparent;
    border-color: lightgrey;
  }
  
  .sm-size {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150px;
}